body
{
	background-color: #f0f0f0;
	height: 1000px;

}

.headerforbuttons
{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	height: 400px;
	width: 90%;	
}

.gifcontainer
{
	height: 80%;
	margin-right: 30px;
}

.usersearchclass
{
	height: 100px;

}